<ul>
  <li>{{index}}.</li>
  <li>{{this}}</li>
  <li>name: {{item.name}}</li>
  <li>{{input value=item.name placeholder="enter name"}}</li>
  <li>isValid: {{v-get this 'isValid'}}</li>
  <li><button {{action delete}}>Delete</button></li>
</ul>
